*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(236, 245, 245);
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
}

#ptop{
    padding: 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
    height: 100px;
    background-color: blue;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}

.box{
    color: black;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #ffffff;
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    background-color: rgb(125, 207, 255);
    color: blue;
    border-radius: 50%;
    font-size: 30px;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(21, 235, 163);
}